<div class="container-fluid">
	 <div class="post" ng-repeat="post in posts | orderBy:'-upvotes'">
	<p class="post-title">{{ post.title }}</p>
	<div>
	<a class="comments-link" href="#/{{post.id}}">{{ post.comments.length }} Comments</a>
	<span class="glyphicon glyphicon-plus-sign" ng-click="upVote(post)"></span> Upvotes: {{ post.upvotes }}
	</div>
	</div>
</div>
<div class="submit-suggestion">
	<form ng-submit="addSuggestion()">
		<h3>Submit Your Suggestion</h3>
		<div class="form-group">
		<input type="text" class="form-control" placeholder="Great ideas here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Great ideas here'"
ng-model="title">
		</div>
		<button type="submit" class="btn btn-primary">Suggest</button>
	</form>
</div>